USE [master]
GO
/****** Object:  Database [SuperStore]    Script Date: 7/7/2026 4:51:42 PM ******/
CREATE DATABASE [SuperStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuperStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuperStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SuperStore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuperStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuperStore]
GO
/****** Object:  Table [dbo].[Orders$]    Script Date: 7/7/2026 4:51:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders$](
	[Row ID] [float] NULL,
	[Order ID] [nvarchar](255) NULL,
	[Order Date] [datetime] NULL,
	[Ship Date] [datetime] NULL,
	[Ship Mode] [nvarchar](255) NULL,
	[Customer ID] [nvarchar](255) NULL,
	[Customer Name] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Postal Code] [int] NULL,
	[Region] [nvarchar](255) NULL,
	[Product ID] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Sub-Category] [nvarchar](255) NULL,
	[Product Name] [nvarchar](255) NULL,
	[Sales] [float] NULL,
	[Quantity] [float] NULL,
	[Discount] [float] NULL,
	[Profit] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
